body{
    overflow-x: hidden;
}

.banner {
    background-image: url(../images/mainpic.jpg);
    background-size: cover;

    -webkit-box-shadow: inset 100px 100px 1000px 1000px rgba(0, 0, 0, 0.39);

    box-shadow: 100px 100px 1000px 1000px inset rgba(0, 0, 0, 0.39);
}

.navbar-fixed-top.scrolled {
    background-color: #fff !important;
    -webkit-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.navbar-fixed-top.scrolled .nav-link {
    color: #555;
}

.gaspier {
    width: 160px;
    height: 50px;
}

.gaspier2 {
    width: 120px;
    height: 50px;
    display: none;
}

.navbar-light .navbar-nav .nav-link {
    color: white !important;
    white-space: nowrap;
}

.navlinks:hover {
    border-bottom: 2px solid #34becb;
}

.active {
    border-bottom: 2px solid #34becb;
}

.navlinks:hover>.active:hover {
    border-bottom: none;
}


.navbar-fixed-top.scrolled .nav-link {
    color: black !important;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: white;
}



.signUp {
    background-color: #34becb;
    border: none;
    color: #fff;
    text-align: center;
    padding: 1px;
    width: 100px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, .7);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .7);
}

.signUp {
    cursor: pointer;
    display: inline-block;
    position: relative;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.signUp:after {
    content: '>';
    position: absolute;
    opacity: 0;
    right: -1px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.signUp:hover {
    padding-right: 24px;
    padding-left: 8px;
    width: 120px;
}

.signUp:hover:after {
    opacity: 1;
    right: 10px;
}

.signUp:focus {
    outline: 0;
}

.content {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
    z-index: 1;
    color: white;
}

@media (max-width: 942px) {

    .signUp {
        display: none;
    }

}

@media (max-width: 620px) {

    .content {
        text-align: center;
        padding-top: 100px;
        padding-bottom: 150px;
        color: white;
    }


}





.navbar-nav {
    white-space: nowrap;
}

.sign {
    margin: 20px;
    height: 40px;
    border: none;
    background-color: #34becb;
    color: white;
}

.sign:hover {
    background-color: #2facb8;
}

.sign:active {
    background-color: #0c336e;

}

.sign:focus {
    outline: 0;
}

.question {
    margin: 20px;
    height: 40px;
    border: none;
    background-color: #34becb62;
    color: white;
}

.question:hover {
    background-color: #34becb9d;

}

.question:active {
    background-color: #0c336e;
}

.question:focus {
    outline: 0;
}

.slogan {
    font-size: 60px;
}

.sloganBottom {
    margin: 40px;
    font-size: 18px;
}

.allTime {
    width: 70px;
}

.grey {
    background-color: #f3f3f3;
    border-bottom: 1px solid darkgrey;
}

.phone {
    width: 450px;
    margin-top: 70px;
}

.unique {
    text-align: center;
    margin-top: 70px;
}

.uniqueList {
    padding: 12px;
    text-align: left;
    max-width: 400px;
    margin: 0 auto;
}

.uniqueList2{
     padding: 12px;
    text-align: left;
    max-width: 400px;
    margin: 0 auto;
    list-style: none;
}

.sloganUnique {
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
}


.white {
    border-bottom: 1px solid darkgrey;
}

.ipad {
    width: 760px;
}

.phoneCol1 {
    max-width: 700px;
    margin: 0 auto;
}

.unique2 {
    text-align: center;
    margin-top: 70px;
}


.signupContent{
    text-align: center;
    padding: 20px;
    max-width: 500px;
    margin: 50 auto;
}

.Login2{
    width: 150px;
    margin: 20px;
    height: 40px;
    border: none;
    background-color: #34becb;
    color: white;
}

.Login2:active{
    background-color: #0c336e;
}

.Login2:focus {
    outline: 0;
}

.footer{
   
    background-color: black;
}

.footContent{
    color: white;
    margin: 20px;
    padding: 50px;
    text-align: center;
    display: inline;
}

.Applogo{
    width: 120px;
    border: 1px solid grey;
    border-radius: 5px;
}

.Googlelogo{
     width: 120px;
     border: 1px solid grey;
     border-radius: 5px;
}

.logos{
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

.bottomFooter{
    color: white;
    text-align: center;
    padding: 30px;
    padding-bottom: 0px;
}

.footerIcons{
    display: inline;
    
}

.icons{
    width: 50px;
    margin-bottom: 20px;
}

.footerMenu{
    display: inline;
}

.footMenu{
    display: inline;
    list-style: none;
    color: white !important;
}



.footLink:hover{
 border: none;
 text-decoration: none !important;
 color: #0c336e;
}

@media (max-width: 767px) {

    uniqueList {
        padding: 20px;
        text-align: center;
        max-width: 400px;
        margin: 0 auto;
        list-style: none;
    }

    .phone {
        width: 350px;
        margin-top: 70px;
    }

    .phoneCol {
        max-width: 370px;
        margin: 0 auto;
    }

    .phoneCol1 {
        max-width: 400px;
        margin: 0 auto;
    }

    .ipad {
        width: 400px;
        padding-right: 43px;
    }

}





@media (max-width: 1384px) {

    .unique2 {
        max-width: 700px;
        margin: 70 auto;
        text-align: center;
    }

}

@media (max-width: 767px) {

    .rowFlip {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

}

@media (max-width: 767px) {

    .navbar-light .navbar-nav .nav-link {
        color: black !important;
    }

    .navbar {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: .5rem 1rem;
        background: rgb(255, 255, 255);
    }

    #home{
        color: black !important;
    }
   
    .gaspier{
        content: url('../images/gaspier-logo5.png')
    }
}
@media (max-width: 802px){
  

    .logIn {
        background-color: #34becb;
        border: none;
        color: #fff;
        text-align: center;
        padding: 0px;
        margin: 8px;
        width: 100px;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, .7);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, .7);
    }

    .logIn {
        cursor: pointer;
        display: inline-block;
        position: relative;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }

    .logIn:after {
        content: '>';
        position: absolute;
        opacity: 0;
        right: -1px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
    }

    .logIn:hover {
        padding-right: 24px;
        padding-left: 8px;
        width: 120px;
    }

    .logIn:hover:after {
        opacity: 1;
        right: 10px;
    }

    .logIn:focus {
        outline: 0;
    }


}

@media (max-width: 767px) {

    .signUp{
        margin: 10px;
        color: white;
    }

    #logIn{
        color: white !important;
    }
}



.popup__overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.692);
    text-align: center;
    z-index: 100;
}

.popup__overlay:after {
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
    content: "";
}

.popup {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 640px;
    max-height: 380px;
    padding: 25px;
    border: 1px solid black;
    background: black;
    color: white;
    vertical-align: middle;
}

.popup-form__row {
    margin: 1em 0;
}

.popup__close {
    display: block;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 12px;
    height: 12px;
    padding: 8px;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    color: rgba(53, 36, 22, 0.95);
    text-decoration: none;
    font-weight: bold;
}

.popup__close:hover {
    color: #eea200;
}

iframe {
    width: 100%;
    height: 100%;
}


